<div class="flex min-h-screen flex-col lg:flex-row">
  <div class="flex flex-1 items-center justify-center bg-background p-4 sm:p-8">
    <div class="w-full max-w-md space-y-6 sm:space-y-8">
      <div class="text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Welcome back</h1>
        <p class="mt-2 text-sm text-muted-foreground sm:text-base">Sign in to your account to continue</p>
      </div>
      <z-card class="p-4 sm:p-6 lg:p-8">
        <form class="space-y-4 sm:space-y-6">
          <z-form-field>
            <z-form-label [zRequired]="true">User</z-form-label>
            <z-form-control>
              <input z-input type="text" formControlName="email" class="w-full" />
            </z-form-control>
          </z-form-field>
          <z-form-field>
            <div class="flex items-center justify-between">
              <z-form-label [zRequired]="true">Password</z-form-label>
            </div>
            <z-form-control>
              <input z-input type="password" formControlName="password" class="w-full" />
            </z-form-control>
          </z-form-field>
          <button type="submit" z-button class="w-full" [zLoading]="true" [disabled]="true">Sign in</button>
        </form>
      </z-card>
    </div>
  </div>
  <aside class="hidden flex-1 items-center justify-center bg-muted p-8 lg:flex illustration"></aside>
</div>